.user-list-container {
    padding: 20px;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  @media only screen and (max-width: 600px) {
    th, td {
      padding: 4px;
    }
  
    table {
      border-spacing: 0;
      border-collapse: collapse;
    }
  
    td {
      display: block;
      text-align: right;
    }
  
    td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  
    tr:nth-child(even) {
      background-color: transparent;
    }
  
    tr:nth-child(odd) {
      background-color: transparent;
    }
  
    th:last-child, td:last-child {
      text-align: center;
    }
   
  }

  .action-button {
    margin-right: 5px; /* Agrega un margen entre los botones */
    padding: 5px 10px; /* Ajusta el espaciado dentro del botón */
    /*background-color: #007bff; /* Cambia el color de fondo del botón */
    color: #fff; /* Cambia el color del texto del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 4px; /* Agrega bordes redondeados al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
  .action-button:hover {
    background-color: #0056b3; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
  }
  